# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# macOS
.DS_Store

# Java compiled output
bin/
*.class

# IDE-specific (add more as needed)
.idea/
*.iml
.project
.classpath
.settings/
target/
.gradle/
build/
